server {
    listen [::]:80;
    listen 80;
    server_name {{ domain }};

    access_log /var/log/nginx/certbot_setup.acc anon;
    error_log /var/log/nginx/certbot_setup.err warn;

    root /server/www/certbot;
}
